html, body {
    margin: 0;
    padding: 0;   
    background-color: rgb(42, 42, 42) 
}
  
* {  
  font-family:Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  width: 100%;
}


.blurbContainer {
  position: absolute;
  width: 250px;
  height: fit-content;
  text-wrap: wrap;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  color: black;
  z-index: 1;
}

.field {
  margin-bottom: 8px;
  color:black;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: white;
}

input {
  width: 20%;
}

.iContainer {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  bottom: 6px;
  border: 1px solid #C2E5D3;
  color: #C2E5D3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  margin-right: 4px;
}

.iContainer:hover {
  background-color: #C2E5D3;
  color: rgb(42, 42, 42);
  cursor: help;
}

.information {
  &p {
    position: absolute;
  }
}

.queryfields {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 325px;
  border-right: 2px solid black;
  padding: 12px;
  &label {
    color: white;
    font-weight: bold;
    margin-right: 6px;
  }
  &button {
    margin-top: 18px;
    width: 40%;
    align-self: center;
  }
}

.outputwindow {
  position: fixed;
  background-color: #C2E5D3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 12px;
  width: 100%;
  height: 100vh;
  margin-left: 345px;
  &img {
    border: 4px solid black;
    margin-bottom: 48px;
  }
  &button {
    width: 20%;
    align-self: center;
  }
}

.searchContainer {
  width: 100%;
  display: flex;
}

.viewportSelect {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  gap: 4px;
  align-items: center;
  &button {
    height: 15px;    
  }
}

.cytoscapeGraph {
  position:absolute;
  width: 84%;
  height: 80vh;
  border: 3px solid black;
  background-color: white;
}

.leafletMap {
  position:absolute;
  width: 84%;
  height: 80vh;
  border: 3px solid black;
  background-color: white;
}

.selectionDetails {
  position: absolute;
  border: 3px solid black;
  padding: 4px;
  height: 20%;
  width: 20%;
  background-color: lightgray;
  overflow: scroll;
  z-index: 1;
  &p {
    text-wrap: wrap;
    word-break: break-all;
  }
}

.leaflet-popup-content-wrapper {

  overflow: scroll;
  
}

.leaflet-popup-content{

}

.leafletP {
  margin: 0px;
  padding: 0px;
}

.chatbox {
  width: 90%;
}

.chatclose {
  margin-left: 90%;
  padding: 0;
  width: 8%;
}

.logo--container {
  display: flex;
  margin-top: 80vh;
}

.knwLogo {
  width: 6%;
  margin-top: 1vh;
  margin-left: 1vh;
  z-index: 2;
  border: 1px solid black;
  aspect-ratio: 1/1;
}

.nsfLogo {
  width: 10%;
  margin-top: 0.25vh;
  z-index: 2;
  aspect-ratio: 1.75/1;
}

.download--button {
  margin-top: 1vh;
}